#! /usr/bin/make -f 

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk

# List any files which are not installed
include /usr/share/cdbs/1/rules/utils.mk
common-binary-post-install-arch:: list-missing

# Ensure at build time that the library has no dependencies on undefined
# symbols, and speed up loading.
LDFLAGS += -Wl,-z,defs -Wl,-O1

DEB_INSTALL_DOCS_ALL += docs/README

DEB_DH_MAKESHLIBS_ARGS_ALL := -V
DEB_SHLIBDEPS_INCLUDE := debian/libavahi-common3/usr/lib debian/libavahi-core3/usr/lib

export MONO_SHARED_DIR=$(CURDIR)

common-binary-predeb-indep::
	dh_makeclilibs
	dh_clideps

binary-install/avahi-utils::
	dh_python -p$(cdbs_curpkg)
	rm -f debian/tmp/usr/lib/python*/site-packages/avahi/*.py[co]

binary-install/python2.4-avahi::
	dh_python -p$(cdbs_curpkg)
	rm -f debian/tmp/usr/lib/python*/site-packages/avahi/*.py[co]

binary-fixup/avahi-daemon binary-fixup/avahi-dnsconfd::
	chmod +x debian/$(cdbs_curpkg)/etc/dbus-1/event.d/*

clean::
	rm -rf $(MONO_SHARED_DIR)/.wapi
